{% extends 'base.html' %}

{% block title %}Calendrier - {{ month_name }} {{ year }}{% endblock %}

{% block content %}
<h1>Calendrier de {{ month_name }} {{ year }}</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Lun</th>
            <th>Mar</th>
            <th>Mer</th>
            <th>Jeu</th>
            <th>Ven</th>
            <th>Sam</th>
            <th>Dim</th>
        </tr>
    </thead>
    <tbody>
        {% for week in calendar %}
        <tr>
            {% for day in week %}
            <td class="{% if day != 0 and day in event_days %}event{% endif %}">
                {% if day != 0 %}
                    <a href="{% url 'event_day_archive' year=year month=month day=day %}">{{ day }}</a>
                    {% for event in events %}
                        {% if event.date.day == day %}
                        <div style="color: white; font-weight: bold;">{{ event.title }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-between mb-3">
    <div class="btn-group">
        {% if month == 1 %}
            <a href="{% url 'calendar_view' year=year|add:"-1" month=12 %}" class="btn btn-secondary">Mois Précédent</a>
        {% else %}
            <a href="{% url 'calendar_view' year=year month=month|add:"-1" %}" class="btn btn-secondary">Mois Précédent</a>
        {% endif %}
        
        {% if month == 12 %}
            <a href="{% url 'calendar_view' year=year|add:"1" month=1 %}" class="btn btn-secondary">Mois Suivant</a>
        {% else %}
            <a href="{% url 'calendar_view' year=year month=month|add:"1" %}" class="btn btn-secondary">Mois Suivant</a>
        {% endif %}
    </div>
    
    <a href="{% url 'event_add' %}" class="btn btn-primary">Ajouter un Événement</a>

    
    <a href="{% url 'event_list' %}" class="btn btn-info">Liste des Événements</a>
</div>

<div>
    {% for event in events %}
        <div class="d-flex justify-content-between align-items-center mb-2">
            <a href="{% url 'event_day_archive' year=year month=month day=event.date.day %}">{{ event.title }}</a>
            <a href="{% url 'event_delete' event.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
        </div>
    {% endfor %}
</div>

<a href="{% url 'calendar_view' %}" class="btn btn-secondary">Retour au calendrier</a>
{% endblock %}