{% extends 'base.html' %}

{% block title %}Confirmer la Suppression{% endblock %}

{% block content %}
<h2 class="animated-title" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Confirmer la Suppression</h2>

<p>Êtes-vous sûr de vouloir supprimer l'employé {{ employe.code }} {{ employe.nom }} {{ employe.prenom }} ?</p>

<form method="post" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Supprimer</button>
    <a href="{% url 'employe_list' %}" class="btn btn-secondary">Annuler</a>
</form>

{% endblock %}