{% extends 'base.html' %}

{% block title %}Ajouter un Entretien{% endblock %}

{% block content %}
<h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Ajouter un Entretien</h2>
<form method="post" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary"data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Enregistrer</button>
    <a href="{% url 'entretien_list' %}" class="btn btn-secondary"data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Annuler</a>
</form>
{% endblock %}