{% extends 'base.html' %}
{% load static %}

{% block title %}Mentions Légales{% endblock %}

{% block content %}
<div class="container mt-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
    <h1 class="text">Mentions Légales</h1>
    <p>Conformément à la législation en vigueur, voici les mentions légales de notre site :</p>
    
    <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">1. Éditeur du site</h2>
    <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Nom de l'application : <span class="text-italic-white">GestioRH</span></p>
    <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Réalisateurs de l'application :</p>
    <ul>
        <li class="text-italic-white" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">REHAL Amel</li>
        <li class="text-italic-white" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">ELKOLEI Mehdi</li>
        <li class="text-italic-white" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">KOUCHIH Ahmed Ayoub</li>
    </ul>
    <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Email : <a href="mailto:gestiorh.isila.2025@gmail.com" class="text-italic-white">gestiorh.isila.2025@gmail.com</a></p>

    <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">2. Année académique</h2>
    <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Année : <span class="text-italic-white">2024/2025</span></p>
    <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Section : <span class="text-italic-white">L3 ISIL A</span></p>
</div>
{% endblock %}