{% extends 'base.html' %}

{% block title %}Confirmer la Suppression{% endblock %}

{% block content %}
<h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Confirmer la Suppression</h2>
<p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Êtes-vous sûr de vouloir supprimer la prime de {{ prime.employe }} ?</p>
<form method="post">
     {% csrf_token %}
     <button type="submit" class="btn btn-danger" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Supprimer</button>
     <a href="{% url 'prime_list' %}" class="btn btn-secondary" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Annuler</a>
    </form>
{% endblock %}