{% extends 'base.html' %}

{% block title %}Confirmation de Suppression{% endblock %}

{% block content %}
<h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Confirmer la Suppression</h2>

<p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Êtes-vous sûr de vouloir supprimer le recrutement "{{ recrutement.titre }}" ?</p>

<form method="post" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Supprimer</button>
    <a href="{% url 'recrutement_list' %}" class="btn btn-secondary">Annuler</a>
</form>

{% endblock %}