{% extends 'base.html' %}

{% block title %}Confirmer la Suppression{% endblock %}

{% block content %}
<h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Confirmer la Suppression</h2>

<p>Êtes-vous sûr de vouloir supprimer le salaire de {{ salaire.employe.code }} ?</p>

<form method="post" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Supprimer</button>
    <a href="{% url 'salaire_list' %}" class="btn btn-secondary">Annuler</a>
</form>

{% endblock %}